///*-------------------------------------------*\
//    #PROJECT SPECIFIC VARIABLES
//\*-------------------------------------------*/

// fonts
$font-main: 'Roboto', sans-serif;

// sizes
$max-width: 700px;

$bu: 24px;

// colors
$theme_black: #222;
$theme_white: #f2f2f2;
$theme_primary: #2196f3;
$theme_warn: red;

// shadows
$shadow-z-1: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !default;
$shadow-z-2: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !default;
